:root {
  --bg-color-body: #151515;
  --bg-color-header-nav: #000000;
  --bg-color-footer: #000000;
  --primary-color: #cd1c29;
  --secondary-color: #a20202;
  --bg-primary-color: #cd1c29;
  --bg-secondary-color: #a20202;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

a,
p {
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color-body);
  font-family: "Nunito", sans-serif;
  color: var(--text-color);
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

body button{
    background-color: var(--primary-color);
    transition: 0.3s;
}

body button:hover{
    opacity: 0.6;
}

footer{
    background-color: var(--bg-color-footer);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  margin-bottom: 20px;
  background-color: var(--bg-color-header-nav);
}

.navigation h2 {
  color: #fff;
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.navigation ul li a:hover {
font-weight: bold;
  color: var(--primary-color);
  opacity: 0.6;
}   

.secao {
  width: 80%;
  max-width: 1320px;
  margin: 0 auto;
  margin-bottom: 20px;  
  padding: 24px;
  color: #ffffff;
  border-radius: 6px;
}

.secao-primaria{
    background-color: var(--primary-color);
}

.secao-secundaria{
    background-color: var(--secondary-color);
}

.secao-introduction {
  background-color: var(--bg-color-body);
}

.content-introduction {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.texto-cargo{
    color: var(--primary-color);
    font-weight: bold;
}

.image-profile {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 8px solid var(--primary-color);
}

.list {
  margin-top: 30px;
  list-style: none;
}

.bg-range-habilidade{
    background-color: var(--primary-color);
}

.list li {
  margin-bottom: 10px;
}

.list-social-midea {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.list-social-midea li a img {
  border-radius: 8px;
}

.form-contact {
  max-width: 60%;
  margin: 0 auto;
  border-radius: 6px;
}
